/*import reset.css */

@import url(./reset.css);

/*add fonts*/

@font-face {
    font-family: "Kaushan";
    src: url(./fonts/KaushanScript-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*root variables*/

:root {
    --font-family-master: "Montserrat", sans-serif;
    --font_family-slave: "Kaushan", sans-serif;
    --color-white:#fff;
    --color-black:#333;
    --color-selec:#fce38a;
    --color-green:#95e1d3;
    --color-red:#f38181;
    --color-gay:#f8f8f8;
    --color-gray-text:#999999;
}

body {
    font-size: 15px;
    font-family: var(--font-family-master);
    line-height: 1.6;
    background-color:var(--color-white);

}

/*intro*/

.intro {
    width: 100%;
    height: 100vh;
    background: url("./images/header_images.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}
.intro__suptitle {
    font-size: 72px;
    font-family: var(--font_family-slave);
}
.intro__title {
    font-size: 150px;
    font-family: var(--font-family-master);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
    line-height: 1;
}

/*Header*/
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-white);
}

.header__nav{
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--font-family-master);
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0px 15px;
    position: relative;
    text-decoration: none;
    color: var(--color-white);

    transition: color .2s linear;
}

.nav_link:hover {
    color: var(--color-selec);
}

.nav_link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-selec);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
}

.nav_link:hover::after{
    display: block;
}

/*container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}